[Basic]
#### the FastTreeMP executable provided may not be compatible to certain
#### system, such as macOS on M1 chip (arm64 instead of x86). In that case,
#### please provide your own fasttreepath (also do the same for the [MAGUS]
#### configuration below) by compiling the source code from:
#### http://www.microbesonline.org/fasttree/FastTree.c
#### 
#### command for compilation (please use gcc-10 or higher):
#### gcc -DOPENMP -fopenmp -O3 -finline-functions -funroll-loops -Wall -o FastTreeMP FastTree.c -lm
####
#### Other softwares used can also be self-provided if necessary.
magus_path = 
mafftpath =
mclpath =
hmmsearchpath =
hmmbuildpath =
hmmalignpath =
fasttreepath =

[Backbone]
#### alignment_method can be set to [mafft, magus] for now ####
alignment_method = magus
alignment_path =
#alignment_method = mafft
#alignment_path = /anaconda3/bin/mafft
#### default backbone_size is min(1000, len(taxa)), but could be fewer
#### if there aren't many taxa within median length (selection strategy)
backbone_size =
#### selection strategy can be [random, median_length]; default median_length
selection_strategy = median_length 
tree_method = FastTree2 
tree_path =

[MAGUS]
#### settings for running MAGUS backbone specifically. Refer to MAGUS
#### github page for more details.
inflationfactor =
graphclustermethod =
graphtracemethod =
graphtraceoptimize =
maxnumsubsets =
#### Custom binary executable paths to run MAGUS/GCM. Specifically added
#### for macOS systems.
#### This will be the same as the ones in [Basic] if generated from setup.py
####Please use the absolute path to each desired executable.
mafftpath =
mclpath =
hmmsearchpath =
hmmbuildpath =
hmmalignpath =
fasttreepath =
