include README.rst
include CHANGELOG
include witch.py
include witch_msa/default.config
include requirements.txt
graft witch_msa/tools/
graft witch_msa/gcmm/
graft witch_msa/helpers/
graft tests/
prune */__pycache__
global-exclude *.py[cod]
