include README.rst
include witch.py
include default.config
include requirements.txt
graft tools/
graft examples/
graft tests/
prune examples/scenario*_output*
prune examples/data2
global-exclude *.py[cod]
