include README.rst
include witch.py
include default.config
include requirements.txt
graft examples/
graft tools/
graft tests/
prune examples/scenario*_output*
prune examples/data2
prune */__pycache__
global-exclude *.py[cod]
