[commandline]
timeout=999999
max-concurrent-jobs=1000000

[Basic]
alignment_size = 25
#magus_path =
#mafftpath =
#mclpath =
#fasttreepath =
#hmmsearchpath = /anaconda3/bin/hmmsearch
#hmmbuildpath = /anaconda3/bin/hmmbuild
#hmmalignpath = /anaconda3/bin/hmmalign

[Backbone]
backbone_size = 500
#alignment_method = magus
#alignment_path = 
#backbone_size = 
#selection_strategy = median_length
#tree_method = FastTree2
#tree_path = 

[MAGUS]
#inflationfactor = 
#graphclustermethod = 
#graphtracemethod = 
#graphtraceoptimize = 
#maxnumsubsets = 
#mafftpath = 
#mclpath =
#fasttreepath =
#hmmsearchpath = /anaconda3/bin/hmmsearch
#hmmbuildpath = /anaconda3/bin/hmmbuild
#hmmalignpath = /anaconda3/bin/hmmalign
