[commandline]
timeout=999999
max-concurrent-jobs=1000000

[Basic]
hmmsearchpath = /anaconda3/bin/hmmsearch
hmmbuildpath = /anaconda3/bin/hmmbuild
hmmalignpath = /anaconda3/bin/hmmalign

[MAGUS]
hmmsearchpath = /anaconda3/bin/hmmsearch
hmmbuildpath = /anaconda3/bin/hmmbuild
hmmalignpath = /anaconda3/bin/hmmalign
